<div class="card mt-4 mb-4" *ngIf="productDetails">
  <img class="card-img-top img-fluid" src="{{productDetails.productImg}}" alt="" style="height:300px; width:300px;">
  <div class="card-body">
    <h3 class="card-title">{{ productDetails.productName }}</h3>
    <a href="/products/update-product/{{productDetails.id}}">Update Product</a> | <a href="/products/delete-product/{{productDetails.id}}">Delete Product</a>
    <h4>${{ productDetails.price }}</h4>
    <p class="card-text">{{ productDetails.description }}</p>
    <span class="text-warning">{{ productDetails.rating }}</span>
    stars
  </div>
</div>

